In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [2]:
!conda install -c anaconda xlrd --yes

^C

In [7]:
df_can = pd.read_excel('https://github.com/ardhiraka/PFDS_sources/blob/master/Canada.xlsx?raw=true',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.3
  latest version: 4.9.2

Please update conda by running

    $ conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Dimas-BG\anaconda3

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.24  |                0         165 KB  anaconda
    certifi-2020.6.20          |           py38_0         160 KB  anaconda
    conda-4.9.0                |           py38_0         3.1 MB  anaconda
    openssl-1.1.1g             |       he774522_0         5.8 MB  anaconda
    xlrd-1.2.0                 |             py_0         108 KB  anaconda
    ------------------------------------------------------------
                                           Total:         9.3 MB

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.3-py38_0 --> anaconda::conda-4.9.0-py38_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  certifi                                         pkgs/main --> anaconda
  openssl                                         pkgs/main --> anaconda
  xlrd                                            pkgs/main --> anaconda



Downloading and Extracting Packages

ca-certificates-2020 | 165 KB    |            |   0%
ca-certificates-2020 | 165 KB    | 9          |  10%
ca-certificates-2020 | 165 KB    | #9         |  19%
ca-certificates-2020 | 165 KB    | ##9        |  29%
ca-certificates-2020 | 165 KB    | ###8       |  39%
ca-certificates-2020 | 165 KB    | #######7   |  78%
ca-certificates-2020 | 165 KB    | #########7 |  97%
ca-certificates-2020 | 165 KB    | ########## | 100%

openssl-1.1.1g       | 5.8 MB    |            |   0%
openssl-1.1.1g       | 5.8 MB    |            |   0%
openssl-1.1.1g       | 5.8 MB    |            |   1%
openssl-1.1.1g       | 5.8 MB    | 1          |   1%
openssl-1.1.1g       | 5.8 MB    | 1          |   1%
openssl-1.1.1g       | 5.8 MB    | 4          |   5%
openssl-1.1.1g       | 5.8 MB    | 5          |   6%
openssl-1.1.1g       | 5.8 MB    | 7          |   7%
openssl-1.1.1g       | 5.8 MB    | 8          |   8%
openssl-1.1.1g       | 5.8 MB    | 9          |  10%
openssl-1.1.1g       | 5.8 MB    | #          |  11%
openssl-1.1.1g       | 5.8 MB    | #1         |  12%
openssl-1.1.1g       | 5.8 MB    | #2         |  12%
openssl-1.1.1g       | 5.8 MB    | #3         |  14%
openssl-1.1.1g       | 5.8 MB    | #4         |  15%
openssl-1.1.1g       | 5.8 MB    | #5         |  16%
openssl-1.1.1g       | 5.8 MB    | #6         |  17%
openssl-1.1.1g       | 5.8 MB    | #7         |  17%
openssl-1.1.1g       | 5.8 MB    | #8         |  18%
openssl-1.1.1g       | 5.8 MB    | ##         |  20%
openssl-1.1.1g       | 5.8 MB    | ##         |  21%
openssl-1.1.1g       | 5.8 MB    | ##1        |  22%
openssl-1.1.1g       | 5.8 MB    | ##2        |  23%
openssl-1.1.1g       | 5.8 MB    | ##3        |  23%
openssl-1.1.1g       | 5.8 MB    | ##3        |  24%
openssl-1.1.1g       | 5.8 MB    | ##4        |  24%
openssl-1.1.1g       | 5.8 MB    | ##4        |  25%
openssl-1.1.1g       | 5.8 MB    | ##5        |  26%
openssl-1.1.1g       | 5.8 MB    | ##6        |  26%
openssl-1.1.1g       | 5.8 MB    | ##6        |  27%
openssl-1.1.1g       | 5.8 MB    | ##7        |  27%
openssl-1.1.1g       | 5.8 MB    | ##8        |  29%
openssl-1.1.1g       | 5.8 MB    | ###        |  30%
openssl-1.1.1g       | 5.8 MB    | ###        |  31%
openssl-1.1.1g       | 5.8 MB    | ###2       |  32%
openssl-1.1.1g       | 5.8 MB    | ###2       |  33%
openssl-1.1.1g       | 5.8 MB    | ###3       |  34%
openssl-1.1.1g       | 5.8 MB    | ###4       |  34%
openssl-1.1.1g       | 5.8 MB    | ###5       |  35%
openssl-1.1.1g       | 5.8 MB    | ###6       |  36%
openssl-1.1.1g       | 5.8 MB    | ###6       |  37%
openssl-1.1.1g       | 5.8 MB    | ###7       |  38%
openssl-1.1.1g       | 5.8 MB    | ###9       |  39%
openssl-1.1.1g       | 5.8 MB    | ###9       |  40%
openssl-1.1.1g       | 5.8 MB    | ####       |  41%
openssl-1.1.1g       | 5.8 MB    | ####1      |  42%
openssl-1.1.1g       | 5.8 MB    | ####2      |  42%
openssl-1.1.1g       | 5.8 MB    | ####3      |  43%
openssl-1.1.1g       | 5.8 MB    | ####4      |  44%
openssl-1.1.1g       | 5.8 MB    | ####5      |  45%
openssl-1.1.1g       | 5.8 MB    | ####5      |  46%
openssl-1.1.1g       | 5.8 MB    | ####7      |  47%
openssl-1.1.1g       | 5.8 MB    | ####8      |  48%
openssl-1.1.1g       | 5.8 MB    | ####9      |  49%
openssl-1.1.1g       | 5.8 MB    | #####      |  50%
openssl-1.1.1g       | 5.8 MB    | #####1     |  51%
openssl-1.1.1g       | 5.8 MB    | #####2     |  52%
openssl-1.1.1g       | 5.8 MB    | #####4     |  55%
openssl-1.1.1g       | 5.8 MB    | #####6     |  56%
openssl-1.1.1g       | 5.8 MB    | #####7     |  57%
openssl-1.1.1g       | 5.8 MB    | #####8     |  58%
openssl-1.1.1g       | 5.8 MB    | #####9     |  59%
openssl-1.1.1g       | 5.8 MB    | ######     |  61%
openssl-1.1.1g       | 5.8 MB    | ######1    |  61%
openssl-1.1.1g       | 5.8 MB    | ######3    |  63%
openssl-1.1.1g       | 5.8 MB    | ######4    |  64%
openssl-1.1.1g       | 5.8 MB    | ######5    |  65%
openssl-1.1.1g       | 5.8 MB    | ######6    |  67%
openssl-1.1.1g       | 5.8 MB    | ######7    |  68%
openssl-1.1.1g       | 5.8 MB    | ######8    |  69%
openssl-1.1.1g       | 5.8 MB    | ######9    |  70%
openssl-1.1.1g       | 5.8 MB    | #######    |  70%
openssl-1.1.1g       | 5.8 MB    | #######1   |  71%
openssl-1.1.1g       | 5.8 MB    | #######2   |  72%
openssl-1.1.1g       | 5.8 MB    | #######3   |  73%
openssl-1.1.1g       | 5.8 MB    | #######3   |  74%
openssl-1.1.1g       | 5.8 MB    | #######6   |  76%
openssl-1.1.1g       | 5.8 MB    | #######7   |  77%
openssl-1.1.1g       | 5.8 MB    | #######8   |  78%
openssl-1.1.1g       | 5.8 MB    | #######9   |  79%
openssl-1.1.1g       | 5.8 MB    | #######9   |  80%
openssl-1.1.1g       | 5.8 MB    | ########   |  81%
openssl-1.1.1g       | 5.8 MB    | ########1  |  81%
openssl-1.1.1g       | 5.8 MB    | ########2  |  82%
openssl-1.1.1g       | 5.8 MB    | ########3  |  83%
openssl-1.1.1g       | 5.8 MB    | ########4  |  84%
openssl-1.1.1g       | 5.8 MB    | ########5  |  85%
openssl-1.1.1g       | 5.8 MB    | ########6  |  86%
openssl-1.1.1g       | 5.8 MB    | ########7  |  87%
openssl-1.1.1g       | 5.8 MB    | ########7  |  88%
openssl-1.1.1g       | 5.8 MB    | ########8  |  89%
openssl-1.1.1g       | 5.8 MB    | ########9  |  90%
openssl-1.1.1g       | 5.8 MB    | #########  |  91%
openssl-1.1.1g       | 5.8 MB    | #########1 |  92%
openssl-1.1.1g       | 5.8 MB    | #########2 |  92%
openssl-1.1.1g       | 5.8 MB    | #########3 |  94%
openssl-1.1.1g       | 5.8 MB    | #########4 |  95%
openssl-1.1.1g       | 5.8 MB    | #########5 |  95%
openssl-1.1.1g       | 5.8 MB    | #########5 |  96%
openssl-1.1.1g       | 5.8 MB    | #########6 |  97%
openssl-1.1.1g       | 5.8 MB    | #########8 |  98%
openssl-1.1.1g       | 5.8 MB    | #########9 |  99%
openssl-1.1.1g       | 5.8 MB    | ########## | 100%

certifi-2020.6.20    | 160 KB    |            |   0%
certifi-2020.6.20    | 160 KB    | #          |  10%
certifi-2020.6.20    | 160 KB    | ###        |  30%
certifi-2020.6.20    | 160 KB    | ####       |  40%
certifi-2020.6.20    | 160 KB    | #######    |  70%
certifi-2020.6.20    | 160 KB    | ########## | 100%

xlrd-1.2.0           | 108 KB    |            |   0%
xlrd-1.2.0           | 108 KB    | #4         |  15%
xlrd-1.2.0           | 108 KB    | ####4      |  44%
xlrd-1.2.0           | 108 KB    | ########## | 100%

conda-4.9.0          | 3.1 MB    |            |   0%
conda-4.9.0          | 3.1 MB    |            |   1%
conda-4.9.0          | 3.1 MB    | 2          |   2%
conda-4.9.0          | 3.1 MB    | 3          |   3%
conda-4.9.0          | 3.1 MB    | 4          |   5%
conda-4.9.0          | 3.1 MB    | 6          |   6%
conda-4.9.0          | 3.1 MB    | 7          |   7%
conda-4.9.0          | 3.1 MB    | 9          |   9%
conda-4.9.0          | 3.1 MB    | #          |  11%
conda-4.9.0          | 3.1 MB    | #2         |  12%
conda-4.9.0          | 3.1 MB    | #4         |  14%
conda-4.9.0          | 3.1 MB    | #7         |  18%
conda-4.9.0          | 3.1 MB    | #9         |  19%
conda-4.9.0          | 3.1 MB    | ##         |  21%
conda-4.9.0          | 3.1 MB    | ##2        |  22%
conda-4.9.0          | 3.1 MB    | ##3        |  23%
conda-4.9.0          | 3.1 MB    | ##4        |  24%
conda-4.9.0          | 3.1 MB    | ##5        |  25%
conda-4.9.0          | 3.1 MB    | ##6        |  26%
conda-4.9.0          | 3.1 MB    | ##7        |  27%
conda-4.9.0          | 3.1 MB    | ##8        |  29%
conda-4.9.0          | 3.1 MB    | ###        |  30%
conda-4.9.0          | 3.1 MB    | ###        |  31%
conda-4.9.0          | 3.1 MB    | ###1       |  31%
conda-4.9.0          | 3.1 MB    | ###1       |  32%
conda-4.9.0          | 3.1 MB    | ###2       |  33%
conda-4.9.0          | 3.1 MB    | ###3       |  34%
conda-4.9.0          | 3.1 MB    | ###4       |  34%
conda-4.9.0          | 3.1 MB    | ###4       |  35%
conda-4.9.0          | 3.1 MB    | ###5       |  35%
conda-4.9.0          | 3.1 MB    | ###6       |  36%
conda-4.9.0          | 3.1 MB    | ###7       |  38%
conda-4.9.0          | 3.1 MB    | ###8       |  39%
conda-4.9.0          | 3.1 MB    | ###9       |  40%
conda-4.9.0          | 3.1 MB    | ####       |  41%
conda-4.9.0          | 3.1 MB    | ####1      |  42%
conda-4.9.0          | 3.1 MB    | ####2      |  43%
conda-4.9.0          | 3.1 MB    | ####3      |  44%
conda-4.9.0          | 3.1 MB    | ####4      |  45%
conda-4.9.0          | 3.1 MB    | ####5      |  46%
conda-4.9.0          | 3.1 MB    | ####7      |  47%
conda-4.9.0          | 3.1 MB    | ####8      |  48%
conda-4.9.0          | 3.1 MB    | ####9      |  50%
conda-4.9.0          | 3.1 MB    | #####      |  51%
conda-4.9.0          | 3.1 MB    | #####1     |  52%
conda-4.9.0          | 3.1 MB    | #####2     |  53%
conda-4.9.0          | 3.1 MB    | #####3     |  54%
conda-4.9.0          | 3.1 MB    | #####4     |  55%
conda-4.9.0          | 3.1 MB    | #####5     |  56%
conda-4.9.0          | 3.1 MB    | #####7     |  57%
conda-4.9.0          | 3.1 MB    | #####8     |  58%
conda-4.9.0          | 3.1 MB    | #####9     |  59%
conda-4.9.0          | 3.1 MB    | ######     |  60%
conda-4.9.0          | 3.1 MB    | ######1    |  61%
conda-4.9.0          | 3.1 MB    | ######2    |  62%
conda-4.9.0          | 3.1 MB    | ######3    |  63%
conda-4.9.0          | 3.1 MB    | ######4    |  65%
conda-4.9.0          | 3.1 MB    | ######5    |  66%
conda-4.9.0          | 3.1 MB    | ######7    |  67%
conda-4.9.0          | 3.1 MB    | ######8    |  68%
conda-4.9.0          | 3.1 MB    | ######9    |  69%
conda-4.9.0          | 3.1 MB    | #######    |  70%
conda-4.9.0          | 3.1 MB    | #######1   |  71%
conda-4.9.0          | 3.1 MB    | #######2   |  72%
conda-4.9.0          | 3.1 MB    | #######3   |  74%
conda-4.9.0          | 3.1 MB    | #######4   |  75%
conda-4.9.0          | 3.1 MB    | #######5   |  76%
conda-4.9.0          | 3.1 MB    | #######6   |  77%
conda-4.9.0          | 3.1 MB    | #######7   |  78%
conda-4.9.0          | 3.1 MB    | #######8   |  79%
conda-4.9.0          | 3.1 MB    | #######9   |  80%
conda-4.9.0          | 3.1 MB    | ########1  |  81%
conda-4.9.0          | 3.1 MB    | ########2  |  83%
conda-4.9.0          | 3.1 MB    | ########3  |  84%
conda-4.9.0          | 3.1 MB    | ########4  |  85%
conda-4.9.0          | 3.1 MB    | ########5  |  86%
conda-4.9.0          | 3.1 MB    | ########6  |  87%
conda-4.9.0          | 3.1 MB    | ########8  |  89%
conda-4.9.0          | 3.1 MB    | ########9  |  90%
conda-4.9.0          | 3.1 MB    | #########1 |  92%
conda-4.9.0          | 3.1 MB    | #########2 |  93%
conda-4.9.0          | 3.1 MB    | #########4 |  95%
conda-4.9.0          | 3.1 MB    | #########6 |  96%
conda-4.9.0          | 3.1 MB    | #########7 |  98%
conda-4.9.0          | 3.1 MB    | #########9 |  99%
conda-4.9.0          | 3.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [6]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [8]:
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

In [9]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([  'Country', 'Continent',    'Region',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

In [10]:
df_can['Total'] = df_can.sum(axis=1)

In [11]:
df_can.isnull().sum()

Country      0
Continent    0
Region       0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Total        0
dtype: int64

In [18]:
df_can.head()

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [17]:
df_can.index.name = None

In [19]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [20]:
df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,5,10,7,36,865,1464,1879,1075,487,5876
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,0,2,1,7,4,3,1,1,30
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,607,540,511,581,561,1392,1129,1185,1308,10222
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4930,4714,4123,4756,4547,4422,3309,3338,2394,148358

In [21]:
print ('data dimensions:', df_can.shape)
print(df_can.columns)
df_can.head(2)

data dimensions: (195, 38)
Index(['Continent',    'Region',   'DevName',        1980,        1981,
              1982,        1983,        1984,        1985,        1986,
              1987,        1988,        1989,        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005,        2006,
              2007,        2008,        2009,        2010,        2011,
              2012,        2013,     'Total'],
      dtype='object')

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699

In [22]:
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [23]:
print(plt.style.available)
mpl.style.use(['ggplot']) # optional: for ggplot-like style

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']

In [29]:
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [33]:
print ('data dimensions:', df_can.shape)
print(df_can.columns)
df_can.head(2)

data dimensions: (195, 38)
Index(['Continent',    'Region',   'DevName',        1980,        1981,
              1982,        1983,        1984,        1985,        1986,
              1987,        1988,        1989,        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005,        2006,
              2007,        2008,        2009,        2010,        2011,
              2012,        2013,     'Total'],
      dtype='object')

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699

In [46]:
df_can.columns = list(map(str, df_can.columns))

In [47]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']